<div class="search-container">
    <div class="search-form">

        <input #title type="text" placeholder="Title" (input)="onTitleInput(title.value)">
        <select #type (change)="onTypeChange(type.value)">
            <option selected value="">Any</option>
            <option value="movie">Movie</option>
            <option value="series">Series</option>
            <option value="episode">Episode</option>
        </select>
        <input #year type="number" min="1900" max="2030" placeholder="Year of release"
            (input)="onYearChange(year.value)" [value]="year || ''">
        <button (click)="search()">Search</button>
    </div>
    <ul>
        @for(r of results; track r.imdbID) {
        <show-item [show]="r"></show-item>
        }
    </ul>

    <pagination [currentPage]="currentPage" [totalResults]="totalResults" [resultsPerPage]="resultsPerPage"
        (pageChange)="onPageChange($event)">
    </pagination>
</div>
